<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Page Clients</h1>
	
	
	<div>
		<h1>Liste des Clients</h1>
		
		<table class>
		
			<thead>
			
				<tr>
					<td class="px-4 py-2 border border-sky-500>Nom</td>
					<td class="px-4 py-2 border border-sky-500>Prénom</td>
					<td class="px-4 py-2 border border-sky-500>E-mail</td>
					<td class="px-4 py-2 border border-sky-500>Telephone</td>
					<td class="px-4 py-2 border border-sky-500>Adresse</td>
					<td class="px-4 py-2 border border-sky-500>Action</td>
				</tr>
	
			</thead>
			
			<tbody>
			
				<tr>
				
					<td class="px-4 py-2 border border-sky-500></td>
					<td class="px-4 py-2 border border-sky-500></td>
					<td class="px-4 py-2 border border-sky-500></td>
					<td class="px-4 py-2 border border-sky-500></td>
					<td class="px-4 py-2 border border-sky-500></td>
					<td class="px-4 py-2 border border-sky-500></td>
				
				</tr>
			
			</tbody>
			
		</table>
	</div>
</body>
</html>