<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
	<div class="">
	<h1>Page Jeux</h1>
		<table class="min-w-0 border-collapse">
		
			<thead>
			
				<tr>
				
					<td class="px-4 py-2 border border-sky-500">Titre</td>
					<td class="px-4 py-2 border border-sky-500">Durée</td>
					<td class="px-4 py-2 border border-sky-500">Action</td>
					<td class="px-4 py-2 border border-sky-500">Référence</td>
				
				</tr>
			
			</thead>
		
		</table>
	</div>
</body>
</html>